* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** Header **/
header {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(
    45deg,
    #5797d9,
    #5c99da,
    #6aa0dc,
    #7ca9e0,
    #91b5e5,
    #a7c2ea,
    #bdd1ef,
    #d1def4,
    #e3ebf8,
    #f2f5fc,
    #fbfcfe,
    #ffffff
  );
  color: white;
}
header a {
  color: #5797d9;
  font-weight: 800;
  text-decoration: none;
}
header a:hover {
  transform: translateY(-3px);
  transition: 1s;
}
/** Main Container **/
.container {
  height: calc(100vh - 40px);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background: linear-gradient(
    45deg,
    #5797d9,
    #5c99da,
    #6aa0dc,
    #7ca9e0,
    #91b5e5,
    #a7c2ea,
    #bdd1ef,
    #d1def4,
    #e3ebf8,
    #f2f5fc,
    #fbfcfe,
    #ffffff
  );
}
.perso,
.beruf,
.skills {
  border-radius: 25px;
  background-color: rgba(87, 151, 217, 0.3);
  border: 3px solid white;
  width: 30%;
  height: calc((100vh - 40px) - 40px);
}
/** Perso **/
.perso {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.perso h3 {
  margin: 10px 20px;
}
.perso ul {
  margin: 20px 20px;
  list-style: "";
}
.perso ul li {
  margin: 20px 20px;
}
.perso ul li a {
  text-decoration: none;
  color: white;
}
